<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.segfault.closetmanager">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera2"/>
    <uses-feature android:name="android.hardware.camera2.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icloset_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
                  android:label="@string/icloset">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity"
            android:label="@string/icloset">
        </activity>

        <activity
            android:name=".ClosetActivity"
            android:label="@string/closet_activity_name"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>

        <activity
            android:name=".LookbookActivity"
            android:label="@string/lookbook_activity_name"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>

        <activity
            android:name=".OutfitGenActivity"
            android:label="@string/create_an_outfit_activity_name"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>

        <activity
            android:name=".AddClothingActivity"
            android:label="Add Clothing"
            android:parentActivityName=".ClosetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClosetActivity"/>
        </activity>

        <activity
            android:name=".ViewClothingActivity"
            android:label="View Clothing"
            android:parentActivityName=".ClosetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClosetActivity"/>
        </activity>

        <activity
            android:name="com.segfault.closetmanager.PreferencesActivity"
            android:label="Preferences"
            android:parentActivityName=".ClosetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClosetActivity"/>
        </activity>

        <activity
            android:name =".CameraActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewClothingByCatActivity"
            android:label="Preference View"
            android:parentActivityName=".ClosetActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClosetActivity"/>
        </activity>


    </application>

</manifest>